backend/routes/pycache/
# Byte-compiled / optimized / DLL files
backend/routes/__pycache__/
*.py[cod]
*$py.class
backend/routes/*.pyc
backend/routes/*.pyo
backend/__pycache__/
*.so
backend/.env

frontend/node_modules/
frontend/build/
frontend/.env
frontend/.env.local
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
frontend/.env
frontend/.env.local
node_modules
dist
dist-ssr
*.local